*{
    margin: 0;
    padding: 0;
    font-family: Sintony, Arial;
}

#intro-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: url(../images/1.jpeg);
    background-size: cover;
}

.title{
    color: white;
    font-weight: 400;
    text-align: center;
    padding-top: 10%;
}

.title h1{
    font-size: 100px;
}

.start{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.start-btn{
    display: flex;
    align-items: center; /* Aligne verticalement l'icône et le texte */
    justify-content: center; /* Centre horizontalement l'ensemble du contenu dans le bouton */
    font-size: 2.5rem; /* Taille du texte du bouton */
    font-weight: 600;
    padding: 12px 40px 12px 40px;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    text-transform: uppercase;
    background-color: #131622;
    color: white;
    transition: background-color 0.7s, padding 0.7s, font-size 0.7s;
    animation: moveUpDown 3s ease-in-out infinite;
}
#play-btn {
    font-size: 50px !important; /* Taille normale de l'icône */
    vertical-align: middle;
    margin-right: 8px !important; /* Espace entre l'icône et le texte */
    transition: font-size 0.7s ease; /* Ajoute une transition pour un effet fluide */
}

.start-btn:hover #play-btn {
    font-size: 60px !important; /* Taille de l'icône au survol */
}

.start-btn:hover{
    background-color: #163667;
    padding: 15px 50px 15px 50px;
    font-size: 2.9rem; /* Taille du texte du bouton */
}

.start-btn:active{
    background-color: #3d80d2;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    color: white;
    text-align: center;
    font-weight: bold;
}

.settings {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto; /* Centre le conteneur de réglages horizontalement */
}

.help-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: #163667;
    border-radius: 50%; /* Rend les boutons circulaires */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.help-box:hover {
    background-color: #1e487b; /* Change la couleur au survol */
}

.material-symbols-outlined{
    color: white !important;
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

.start-game-link{
    text-decoration: none !important;
    color: white;
}

.section {
    display: none; /* Hide all sections by default */
}
.section.active {
    display: block; /* Show the section when active */
}